<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="asserts/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="asserts/css/nav.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-light bg-light" id = "topbar">
    <a class="navbar-brand"> 500 not found : no user is found</a>
    <!--    <form class="form-inline" method="get" th:action="@{/searchpeople}">-->
    <!--        <input style="display: none" name="userid"  th:if="${user != null}" th:value="${user.id}"/>-->
    <!--        <input class="form-control mr-sm-2"  name="username" type="search" placeholder="Search" aria-label="Search">-->
    <!--        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">SearchUser</button>-->
    <!--    </form>-->
</nav>
</body>
</html>